<template name="User_Footer">
  <footer>
    <div style="padding-top: 15px; background-color: green; color: #EBE5D9;" class="ui centered grid">
      <div class="row"><h3>MUNCHIE ZONE</h3></div>
      <hr>
      <div class="row"><h3>Contact us!</h3></div>
      <div class="item"><i class="phone icon"></i></div>
      <div class="item"><h4>+1-808-555-5555</h4></div>
      <div class="item"><i class="mail icon"></i></div>
      <div class="item"><h4>MunchieZone@gmail.com</h4></div>
      <div class="item"><i class="facebook icon"></i></div>
      <div class="item"><h4>www.facebook.com/munchiezone</h4></div>
      <a href="#"></a>
    </div>
  </footer>
</template>