<template name="Directory_MyOrder">

  <div class="ui card">
    <!-- Insert image -->
    <div class="image">
      <img style="height: 205px" src="{{ myorder.picture }}">
    </div>
    <div class="content">
      <div class="header">
        {{ myorder.restaurant }}
      </div>
      <div style="margin-top: 10px">
        {{#each interest in myorder.interest}}
        <a style="margin-bottom: 2px" class="ui pink flag small label">{{interest}}</a>
        {{/each}}
        <br><br>
      </div>

      <div class="meta">
        Order Time: {{ myorder.time }}
        <br>
        Pickup Time: {{ myorder.meetup }}
        <br><br>
        Pick Up Location
        <br>
        {{ myorder.pickupLocation }}
      </div>
      <br><br>
      <div class="tiny ui red animated button" tabindex="0">
        <div class="visible content">Join Order</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>


      <!-- Testing


      <script type="text/javascript">

        function dateAdd(date, interval, units) {
          var ret = new Date(date); //don't change original date
          var checkRollover = function() { if(ret.getDate() != date.getDate()) ret.setDate(0);};
          switch(interval.toLowerCase()) {
            case 'year'   :  ret.setFullYear(ret.getFullYear() + units); checkRollover();  break;
            case 'quarter':  ret.setMonth(ret.getMonth() + 3*units); checkRollover();  break;
            case 'month'  :  ret.setMonth(ret.getMonth() + units); checkRollover();  break;
            case 'week'   :  ret.setDate(ret.getDate() + 7*units);  break;
            case 'day'    :  ret.setDate(ret.getDate() + units);  break;
            case 'hour'   :  ret.setTime(ret.getTime() + units*3600000);  break;
            case 'minute' :  ret.setTime(ret.getTime() + units*60000);  break;
            case 'second' :  ret.setTime(ret.getTime() + units*1000);  break;
            default       :  ret = undefined;  break;
          }
          return ret;
        }

        var hello = dateAdd(new Date(), 'minute', 20);

        document.querySelector('.results').innerHTML = hello;
      </script>

      <div class="results"></div>





      Testing over -->
    </div>
  </div>

</template>