<template name="Directory_Order">

  <div class="ui card">
    <!-- Insert image -->
    <div class="image">
      <img style="height: 205px" src="{{ order.picture }}"> <!-- This bit isnt working -->
    </div>
    <div class="content">
      <div class="header">
        {{ order.restaurant }}
      </div>
      <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px">
        ||
        {{#each interest in order.interest}}
           <i>{{interest}}</i> ||
        {{/each}}
      </div>
      <br><br>
      <div class="tiny ui red animated button" tabindex="0">
        <div class="visible content">Join Order</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
      <div class="meta">
        {{ order.pickupLocation }}
      </div>
    </div>
  </div>

</template>